:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --brand-color: #212121;
  --second-color: #757575;
  --accent-color: #fff;

}





ul {
    list-style: none;
}


a {
    text-decoration: none;
}


.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}






 


  .header-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color:var(--brand-color);

  }



.hero{
background-color: #2F303A;
height: 600px;
text-align: center;
}



  .h1 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

  }









  h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

  .header-items {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
   
  }


  .header-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;


  }

  button {
    border-radius: 4px;
width: 216px;
height: 50px;
color: #fff;
cursor: pointer;
background-color: #2196f3;
}


.header-text {
 font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;  
}



.header-slogan {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #757575;
}



.header-lead {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #212121;
}




.header-caption {
 font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #fff;
}



.header-heading {
 font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color:#757575;;
}



/* 
.section{
  margin-bottom: 94px;

} */




