:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --brand-color: #212121;
  --second-color: #757575;
  --accent-color: #fff;

}





ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}


.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}







.header-wrap{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 24px;
padding-bottom: 25px;
}



.header-navigation{
  display: flex;
  justify-content: center;
  align-items: center;

}


.header-navigation img{
margin-right: 93px;

}


.header-list{
display: flex;
justify-content: flex-start;
align-items: center;
column-gap: 50px;
}





 


  .header-link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color:var(--brand-color);
   
 }



  .header-contact{
display: flex;
justify-content:flex-end;
align-items: center;
column-gap: 50px;
}




.hero{
background-color: #2F303A;
height: 600px;
text-align: center;
margin-bottom: 94px;
}


.hero-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  row-gap: 30px;

}



  .h1 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

  }



  .container-img{
    display: flex;
    justify-content:center  ;
    align-items:center ;
  flex-direction: column;
  row-gap: 50px;
  }
  



  
  .main-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

  }


  .container-profil{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
row-gap: 50px;
padding-top:  94px; 
padding-bottom:106px ;

  }


  .main-item{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
  }








  h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

  .header-items {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    

   
  }


  .header-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;


  }

  button {
    border-radius: 4px;
width: 216px;
height: 50px;
color: #fff;
cursor: pointer;
background-color: #2196f3;
}


.features{
  margin-bottom: 94px;
}

.features-list{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 30px;

}



.header-text {
 font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;  
}



.header-slogan {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #757575;
}



.header-lead {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #212121;
}


.footer-wrap{
  background-color:#2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}


.header-caption {
 font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #fff;
}



.header-heading {
 font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color:#757575;;
}



/* 
.section{
  margin-bottom: 94px;

} */



.header-contact {
  display: flex;
  gap: 30px;
}

.header-contact--part{
  display: flex;
  gap: 10px;

}

.header-contact--part:hover svg path {
fill: #2196f3;
transition: 0,5s;
}

.header-socials {
  padding-bottom: 30px;
  display: flex;
  justify-content:center;
  gap: 10px;

}

.header-socials svg:hover path{
  fill: #2196f3;
  transition: 0,5s;
}


.header-socials svg path{
  transition: 0,5s;
}